   <footer class="footer bg-inverse">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-3">
            <img class="img-fluid footerImg" src="assets/KFS_LIGHT.png">
          </div>
          <div class="col-sm-12 col-lg-9 socialWrapper">
            <a href="https://facebook.com" target="_blank">
            <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
            <i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </footer>
