<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
</div>
<br>
<br>
<br>
<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
</div>
<br>
<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
</div>
<br>
<br>
<br>
<div class="row">
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/images/abc.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
  <div class="clearfix">
      <div class="price float-left">12$</div>
        
      <a href="#" class="btn btn-primary float-right">Go somewhere</a
      >
      </div>
      </div>
  </div>
  
</div>
</div>
<br>